:root {
    --darkBlueDarkModeElements: rgb(43, 57, 69);
    --veryDarkBlueDarkModeBG: rgb(32, 44, 55);
    --veryDarkBlueLightModeText: rgb(17, 21, 23);
    --darkGrayLightModeInput: rgb(133, 133, 133);
    --smokeWhite: rgb(250, 250, 250);
    --white: rgb(255, 255, 255);

    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
body.dark {
    --white: rgb(43, 57, 69);
    --smokeWhite: rgb(32, 44, 55);
    --darkGrayLightModeInput: rgb(255, 255, 255);
    --veryDarkBlueLightModeText: rgb(255, 255, 255);
}
h2 {
    color: var(--veryDarkBlueLightModeText);
}
h3 {
    color: var(--veryDarkBlueLightModeText);
}
h4 {
    font-weight: 600;
    color: var(--veryDarkBlueLightModeText);
}
h5 {
    color: var(--veryDarkBlueLightModeText);
}
p {
    color: var(--darkGrayLightModeInput);
}
.container {
    width: calc(88% + 5px);
    margin: 0 auto;
}
/***********
Header
***********/
header {
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 4vh 0;
    position: relative;
    z-index: 10;
    width: 100vw;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.dark-lightMode {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.fas.fa-moon {
    display: none;
    color: var(--white);
}
body.dark .fas.fa-moon {
    display: block !important;
    color: white;
}
body.dark .far.fa-moon {
    display: none;
}
.dark-lightMode h4 {
    margin-left: 10px;
}
/***********
Top section
***********/
section {
    background: var(--smokeWhite);
}
.top {
    display: flex;
    justify-content: space-between;
    padding: 6vh 0;
}
.top div:first-child {
    display: flex;
    align-items: center;
}
.top input {
    width: 480px;
    height: 56px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    outline: none;
    padding-left: 75px;
    background: var(--white);
    color: var(--darkGrayLightModeInput);
}
.top input::placeholder {
    color: var(--darkGrayLightModeInput);
}
.search-div {
    position: relative;
    right: -35px;
}
.fa-search {
    position: absolute;
    color: var(--darkGrayLightModeInput);
}
.filter {
    background: var(--white);
    box-shadow: var(--box-shadow);
    width: 200px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.top .drop-down {
    display: none;
    position: absolute;
    right: calc(6% - 2.5px);
}
.drop-down.active {
    display: block;
}
.fa-chevron-down {
    color: var(--veryDarkBlueLightModeText);
}
.top .drop-down ul {
    position: relative;
    width: 200px;
    bottom: -75px;
    background: var(--white);
    box-shadow: var(--box-shadow);
    list-style: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
}
.top .drop-down ul li {
    padding: 5px;
    color: var(--veryDarkBlueLightModeText);
    cursor: pointer;
}
.top .drop-down ul li:hover {
    font-weight: 800;
}
/***********
Cards
***********/
.cards {
    display: flex;
    flex-wrap: wrap;
    background: var(--smokeWhite);
    padding: 0 5% 4vh 5%;
}
.card {
    width: 23%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 35px 1%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.img-flag {
    width: 100%;
    height: 48%;
}
.img-flag img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}
.card-text {
    padding: 25px 0 25px 25px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}
.card-text h3 {
    padding-bottom: 25px;
}
.card-text div {
    display: flex;
    align-items: baseline;
}
.card-text div p {
    font-size: 14px;
}
/*******************
Modal
*******************/
.modal {
    background: var(--smokeWhite);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;    
    flex-direction: column;
    padding-top: calc(8vh + 32px);
}
.modal-main {
    display: flex;
    justify-content: space-between;
}
.modal button {
    margin: 10vh 0;
    background: var(--white);
    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow);
    width: 140px;
    height: 44px;
    color: var(--veryDarkBlueLightModeText);
    cursor: pointer;
}
.fa-arrow-left {
    margin-right: 5px;
}
.modal-main section {
    width: 46%;
}
.modal-main .img-modal {
    display: flex;
    align-items: center;
}
.modal-main .img-modal img {
    width: 100%;
    height: auto;
}
.modal-main .right-side {
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
}
.modal-main .right-side .right-side-text {
    display: flex;
    margin: 4vh 0;
}
.modal-main .right-side .right-side-text div {
    display: flex;
    align-items: baseline;
    margin: 1vh 0;
}
.modal-main .right-side .right-side-bottom {
    display: flex;
    align-items: baseline;
}
.right-side-bottom .right-side-bottom-borders{
    display: flex;
}
.modal-main .right-side .right-side-bottom p {
    box-shadow: var(--box-shadow);
    padding: 0 15px;
    margin: 4px 10px 0 0;
}
/*******************
responsive for ipad
*******************/
@media (max-width: 1200px) {
    .container {
        width: calc(94% + 5px);
    }
    .top .drop-down {
        right: calc(3% - 2.5px);
    }
    .cards {
        padding: 0 2% 4vh 2%;
    }
    .card {
        margin: 35px 1%;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 94%;
    }
    .cards {
        padding: 0 3% 4vh 3%;
        justify-content: space-between;
    }
    .card {
        width: 46%;
        padding: 0;
        margin: 35px 0;
    }
    .modal {
        padding-top: calc(4vh + 32px);
    }
    .modal-main {
        flex-direction: column;
    }
    .modal-main section {
        width: 100%;
    }
    .modal-main .right-side {
        padding: 2vh 0 0 0;
    }
    .modal-main .right-side .right-side-text {
        margin: 0;
    }
    header {
        padding: 2vh 0;
    }
    .modal button {
        margin: 4vh 0;
    }
}
/*******************
responsive for ipad
*******************/
@media (max-width: 767px) {
    h2 {
        font-size: 18px;
    }
    .dark-lightMode {
        font-size: 14px;
    }
    .cards {
        padding: 0 15% 4vh 15%;
    }
    .card {
        width: 100%;
    }
    section .container {
        width: 90%;
    }
    .top {
        flex-direction: column;
    }
    .top input {
        width: 100%;
    }
    .filter {
        margin-top: 25px;
    }
    .top .drop-down {
        right: auto;
    }
    .top .drop-down ul {
        bottom: -145px;
    }
    header {
        padding: 1.25vh 0;
    }
    .modal {
        padding-top: 40px;
    }
    .modal button {
        margin: 2vh 0;
        width: 120px;
        height: 38px;
    }
    .modal-main .right-side .right-side-text {
        flex-direction: column;
        margin: 1vh 0;
    }
    .modal-main .right-side .right-side-text section {
        margin: 1vh 0;
    }
    .modal-main .right-side .right-side-text div {
        margin: 0;
    }
    .modal-main .right-side .right-side-bottom {
        flex-direction: column;
    }
}
@media (max-width: 299px) {
    h2 {
        font-size: 16px;
    }
    .dark-lightMode {
        font-size: 12px;
    }

}